/* CSS Variables */
:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --primary-font-color: #303030;
  --secondary-font-color: #595959;
  --primary-background-color: #b8ffbe;
  --secondary-background-color: #8dddff;
}

/* Global Styling */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font-family);
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
/* Header Styling */
