/* CSS Variables */
:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --primary-font-color: #666;
  --secondary-font-color: #999;
}

/* Global Styling */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

/* Header Styling */

.heading {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: 'center';
  background: lightblue;
}

.heading__title {
  text-align: center;
  color: var(--primary-font-color);
}

.list {
  list-style: none;
}
.list__item {
  margin-bottom: 5px;
  padding: 1rem;
  background: #fff;
  font-weight: 700;
  text-align: center;
}

.list__item a {
  text-transform: uppercase;
}

.heading__test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.heading__img {
  width: 200px;
  height: 120px;
  display: block;
  margin: 2rem 0;
}

/*  */

.contact__section {
  background: #efefef;
}

.text__bold {
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
